body {
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
}
p {
    color: white;
    text-align: center;
}
div {
    border: 2px solid white; padding: 10px;
}
h3 {
    color: white;
    text-align: center;
}
input {
    display: block;
    margin: 0 auto;
}
textarea {
    display: block;
    margin: 0 auto;
}
input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
strong {
    color: white;
}
small {
    color: white;
}
h2 {
    color: white;
    text-align: center;
}
div{
    border: 2px solid white; padding: 10px;
}
#comments-count {
  color: white;
}